<div class="hero-unit" ng-init="list()">
  <h1>todos:</h1>

  <div ng-repeat="task in tasks | orderBy:['-finishedOn', 'name']">
    <label class="checkbox">
      <input type="checkbox" ng-change="stateChanged(task)" ng-model="task.done">
      <span ng-class="{'finished':task.done}">{{task.name}}</span>
      <span class="completion-date">{{task.finishedOn | date:short}}</span>
    </label>
  </div>
  <form>
    <div class="input-append">
      <input type="text" ng-model="newTask" class="">
      <button ng-click="add()" class="btn btn-primary" ng-disabled="isEmpty()">Add</button>
    </div>
  </form>
</div>
